$primary-color: #ff822e;
$accent-color: #344258;
$light-link-color: #5d5c74;
$dark-link-color: #f4f4f4;
$standard-transparency: rgba(0,0,0,0.55);

a {
    color: $light-link-color;
    font-weight: bold;
}

@media (max-width:629px) {
    img#pix {
        display: none;
    }
}

.splash {
    padding: 100px 50px;
}

.why {
    padding: 70px 50px;
    background: $primary-color;
    -webkit-box-shadow: inset 0px 0px 58px -24px $standard-transparency;
    -moz-box-shadow: inset 0px 0px 58px -24px $standard-transparency;
    box-shadow: inset 0px 0px 58px -24px $standard-transparency;
}

.why-blocks {
    padding: 70px 50px;
    background: #fff;
    -webkit-box-shadow: 0px 3px 27px -6px $standard-transparency;
    -moz-box-shadow: 0px 3px 27px -6px $standard-transparency;
    box-shadow: 0px 3px 27px -6px $standard-transparency;
}

.why-blocks-content {
    padding: 10px 10px;
    text-align: center;
}

.footer {
    padding: 70px 50px;
    background: $accent-color;
}

.footer-blocks {
    color: $dark-link-color;
    padding: 10px 50px;

    a {
        color: $dark-link-color;
    }

    img {
        margin-left: 2px;
        margin-right: 10px;
    }
}